<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIBasic"
        tools:targetApi="31">
        <activity
            android:name=".AgodaCreateAccount"
            android:exported="false" />
        <activity
            android:name=".AgodaLogin"
            android:exported="false" />
        <activity
            android:name=".AgodaClone"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <!-- 암시적 인텐트를 수신하고자 하는 엑티비티 안에 인텐트 필터를 적용한다 -->

        </activity>
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ViewsArrange"
            android:exported="false" /> <!-- 전에는 여기에 자동으로 추가된 것 같음 -->
        <activity
            android:name=".EditActivity"
            android:exported="true" />
        <activity
            android:name=".SizeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>